<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <table class ="job-listing" th:each="item: ${jobs}">
    <tr>
      <td th:text="'ID: ' + ${item.id}"></td>
      <td th:text="'Name: ' + ${item.name}"></td>
      <td th:text="'Employer: ' + ${item.employer}"></td>
      <td th:text="'Location: ' + ${item.location}"></td>
      <td th:text="'Position Type: ' + ${item.positionType}"></td>
      <td th:text="'Skills: ' + ${item.coreCompetency}"></td>
    </tr>
  </table>
</div>

</body>
</html>